.titled-pane {
	-fx-text-fill: 			white;
	-fx-font-family: "Cambria";
	-fx-font-size: 14px;
}

.titled-pane > .title 
{
-fx-background-color:   	linear-gradient(to bottom,  rgba(25, 25, 25,1) 0%, rgba(90,90,100,1) 100%);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane > .title > .arrow-button .arrow 
{
	-fx-background-color: white;
}