/*
 *The red version 
 * .button {
	-fx-background-color: linear-gradient(rgba(190,49,26,1), rgba(190,49,26,0.8));
	-fx-text-fill: linear-gradient(white, #d0d0d0);
	-fx-font-family: "Cambria";
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
	-fx-background-radius: 10;
}
.button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
   	-fx-background-radius: 10;
    -fx-text-fill: -fx-text-base-color;
}*/

/* The black version */
.button {
	-fx-background-color: linear-gradient(to bottom,   rgb(100,100,100) 0%,  rgb(50,50,50) 100%);
	-fx-text-fill: white;
	-fx-font-family: "Cambria";
	-fx-font-weight: bold;
	-fx-font-size: 12px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
	-fx-background-insets: 1 0 1 0;
}
.button:hover{
    -fx-background-color: linear-gradient(rgba(190,49,26,1), rgba(190,49,26,0.8));
    -fx-text-fill: white;
    -fx-background-insets: 1 0 -1 0, 0, 1, 2;
}





#arrowButton {
	-fx-background-color: linear-gradient(to bottom,  rgba(25, 25, 25,1) 0%, rgba(90,90,100,1) 100%);
	-fx-text-fill: white;
	-fx-font-family: "Cambria";
	-fx-font-weight: bolder;
	-fx-font-size: 18px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
	-fx-background-radius: 20;
}

#arrowButton:hover {
	-fx-background-color:  white ;
	-fx-text-fill: rgba(190, 49, 26,1);
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
   	-fx-background-radius: 20;
}

#arrowButton:pressed {
	-fx-background-color:  rgba(190, 49, 26,1);
	-fx-text-fill: white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
   	-fx-background-radius: 20;
}