.menu-bar {
   -fx-background-color:    linear-gradient(to bottom, rgba(70,70,80,1) 0%, rgba(25, 25, 25,1) 100%);
}
.menu .label, .menu-item .label {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-family: "Camria";
}

.menu:hover, .menu:showing {
    -fx-background-color: rgba(190, 49, 26, 0.3);
}

.menu-item:focused, .menu-item:hover {
	-fx-background-color: rgba(0, 0, 0,0.5);
}

.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}