/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


.chart-content {
    -fx-padding: 30px;
}

.axis-tick-mark,
.axis-minor-tick-mark,
.chart-vertical-grid-lines,
.chart-horizontal-grid-lines{
    -fx-stroke: transparent;
}

.axis {
    -fx-font-size: 20;
    -fx-tick-label-fill:rgb(0,0,0);
    -fx-font-family: Cambria ;

    -fx-tick-label-font-size: 0.5em;

}

.chart-series-area-line 				{	-fx-stroke-width: 		4px; }
